In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('Dataset/insurance.csv')
data.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [18]:
female = data[(data['sex']=='female') & (data['smoker']=='yes')]
female

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
11     62  female  26.290         0    yes  southeast  27808.72510
23     34  female  31.920         1    yes  northeast  37701.87680
58     53  female  22.880         1    yes  southeast  23244.79020
64     20  female  22.420         0    yes  northwest  14711.74380
...   ...     ...     ...       ...    ...        ...          ...
1308   25  female  30.200         0    yes  southwest  33900.65300
1313   19  female  34.700         2    yes  southwest  36397.57600
1314   30  female  23.655         3    yes  northwest  18765.87545
1323   42  female  40.370         2    yes  southeast  43896.37630
1337   61  female  29.070         0    yes  northwest  29141.36030

[115 rows x 7 columns]

In [19]:
female['charges'].mean()

30678.996276260867

In [21]:
data[(data['age']==64) & (data['children']==1) & (data['smoker']=='yes')]

     age     sex   bmi  children smoker     region   charges
328   64  female  33.8         1    yes  southwest  47928.03

In [27]:
north = data.groupby('region')['bmi'].mean().reset_index()
north

      region        bmi
0  northeast  29.173503
1  northwest  29.199785
2  southeast  33.355989
3  southwest  30.596615

In [29]:
north[0:2].mean()

C:\Users\User ID\AppData\Local\Temp\ipykernel_4428\2719327409.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  north[0:2].mean()

bmi    29.186644
dtype: float64

In [30]:
male = data[(data['sex']=='male') & (data['smoker']=='yes') & (data['age']>50)]
male

      age   sex     bmi  children smoker     region      charges
39     60  male  39.900         0    yes  southwest  48173.36100
55     58  male  36.955         2    yes  northwest  47496.49445
92     59  male  29.830         3    yes  northeast  30184.93670
98     56  male  19.950         0    yes  northeast  22412.64850
109    63  male  35.090         0    yes  southeast  47055.53210
252    54  male  34.210         2    yes  southeast  44260.74990
256    56  male  33.630         0    yes  northwest  43921.18370
262    52  male  24.320         3    yes  northeast  24869.83680
281    54  male  40.565         3    yes  northeast  48549.17835
331    52  male  27.360         0    yes  northwest  24393.62240
381    55  male  30.685         0    yes  northeast  42303.69215
420    64  male  33.880         0    yes  southeast  46889.26120
421    61  male  35.860         0    yes  southeast  46599.10840
444    56  male  26.695         1    yes  northwest  26109.32905
474    54  male  25.100         3    yes  southwest  25382.29700
475    61  male  28.310         1    yes  northwest  28868.66390
502    51  male  23.210         1    yes  southeast  22218.11490
530    57  male  42.130         1    yes  southeast  48675.51770
668    62  male  32.015         0    yes  northeast  45710.20785
677    60  male  31.350         3    yes  northwest  46130.52650
742    53  male  34.105         0    yes  northeast  43254.41795
793    53  male  20.900         0    yes  southeast  21195.81800
826    56  male  31.790         2    yes  southeast  43813.86610
886    57  male  28.975         0    yes  northeast  27218.43725
901    60  male  40.920         0    yes  southeast  48673.55880
951    51  male  42.900         2    yes  southeast  47462.89400
956    54  male  30.800         1    yes  southeast  41999.52000
966    51  male  24.795         2    yes  northwest  23967.38305
1062   59  male  41.140         1    yes  southeast  48970.24760
1146   60  male  32.800         0    yes  southwest  52590.82939
1230   52  male  34.485         3    yes  northwest  60021.39897
1240   52  male  41.800         2    yes  southeast  47269.85400
1241   64  male  36.960         2    yes  southeast  49577.66240
1265   64  male  23.760         0    yes  southeast  26926.51440
1284   61  male  36.300         1    yes  southwest  47403.88000
1301   62  male  30.875         3    yes  northwest  46718.16325
1321   62  male  26.695         0    yes  northeast  28101.33305

In [31]:
male['bmi_baru'] = male['bmi']-1.5
male

C:\Users\User ID\AppData\Local\Temp\ipykernel_4428\4061668688.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  male['bmi_baru'] = male['bmi']-1.5

      age   sex     bmi  children smoker     region      charges  bmi_baru
39     60  male  39.900         0    yes  southwest  48173.36100    38.400
55     58  male  36.955         2    yes  northwest  47496.49445    35.455
92     59  male  29.830         3    yes  northeast  30184.93670    28.330
98     56  male  19.950         0    yes  northeast  22412.64850    18.450
109    63  male  35.090         0    yes  southeast  47055.53210    33.590
252    54  male  34.210         2    yes  southeast  44260.74990    32.710
256    56  male  33.630         0    yes  northwest  43921.18370    32.130
262    52  male  24.320         3    yes  northeast  24869.83680    22.820
281    54  male  40.565         3    yes  northeast  48549.17835    39.065
331    52  male  27.360         0    yes  northwest  24393.62240    25.860
381    55  male  30.685         0    yes  northeast  42303.69215    29.185
420    64  male  33.880         0    yes  southeast  46889.26120    32.380
421    61  male  35.860         0    yes  southeast  46599.10840    34.360
444    56  male  26.695         1    yes  northwest  26109.32905    25.195
474    54  male  25.100         3    yes  southwest  25382.29700    23.600
475    61  male  28.310         1    yes  northwest  28868.66390    26.810
502    51  male  23.210         1    yes  southeast  22218.11490    21.710
530    57  male  42.130         1    yes  southeast  48675.51770    40.630
668    62  male  32.015         0    yes  northeast  45710.20785    30.515
677    60  male  31.350         3    yes  northwest  46130.52650    29.850
742    53  male  34.105         0    yes  northeast  43254.41795    32.605
793    53  male  20.900         0    yes  southeast  21195.81800    19.400
826    56  male  31.790         2    yes  southeast  43813.86610    30.290
886    57  male  28.975         0    yes  northeast  27218.43725    27.475
901    60  male  40.920         0    yes  southeast  48673.55880    39.420
951    51  male  42.900         2    yes  southeast  47462.89400    41.400
956    54  male  30.800         1    yes  southeast  41999.52000    29.300
966    51  male  24.795         2    yes  northwest  23967.38305    23.295
1062   59  male  41.140         1    yes  southeast  48970.24760    39.640
1146   60  male  32.800         0    yes  southwest  52590.82939    31.300
1230   52  male  34.485         3    yes  northwest  60021.39897    32.985
1240   52  male  41.800         2    yes  southeast  47269.85400    40.300
1241   64  male  36.960         2    yes  southeast  49577.66240    35.460
1265   64  male  23.760         0    yes  southeast  26926.51440    22.260
1284   61  male  36.300         1    yes  southwest  47403.88000    34.800
1301   62  male  30.875         3    yes  northwest  46718.16325    29.375
1321   62  male  26.695         0    yes  northeast  28101.33305    25.195

In [32]:
male['bmi_baru'].mean()

30.6904054054054